@charset "utf-8";
/*科e互联特效基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body { color: #333; text-align: center; font: 12px "宋体"; }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}
.clear{height:0; overflow:hidden; clear:both}
.button {display: inline-block;zoom: 1; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding:0.25em 0.6em 0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));background: -moz-linear-gradient(top,  #ed1c24,  #A51715);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); font-size:14px!important;}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top,  #c9151b,  #a11115); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); color:#fff;}
.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
.keTitle{ height: 60px; line-height: 60px; font-size: 28px; font-family: '微软雅黑'; color: #FFF; text-align: center; background: url(../images/bodyBg1.gif) repeat-x left bottom; font-weight: normal; position: fixed; width: 100%; left: 0; top: 30px; z-index: 999; padding: 0px 0px 8px; opacity:0.8; }
.keBottom{ color: #FFF; height: 60px; text-align: center; background: url(../images/bodyBg2.gif) repeat-x left top; position: fixed; width: 100%; left: 0; bottom: 0; z-index: 999; font: 18px/60px "微软雅黑"; padding: 3px 0px 5px;opacity:0.8;  }
.keBottom a,.keBottom a:hover{color:#fff;}
/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;font-style:normal;}
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,img,p{list-style-type:none;}
select, input, button, textarea {font-size:100%;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;}
input,button,textarea,select,optgroup,option{font-family:"微软雅黑","黑体","simhei","宋体","simsun";font-size:inherit;font-style:inherit;font-weight:inherit;padding:0px; margin:0px;}
legend{color:#000;}
:focus{outline:0;}
img { vertical-align:middle;border:none;}
table{border-collapse:collapse;border-spacing:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
em{font-style:normal;}
label{cursor:pointer;}
button { cursor:pointer;}
b, i { font-weight:normal; font-style:normal;}
a {blr:expression(this.onFocus=this.blur())}
/* hack */
.clear {display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
*html .clearfix{height:1%;}
*+html .clearfix{min-height:1%;}
/* text */
body{font-family:"微软雅黑","黑体","simhei","宋体","simsun";font-size:14px;cursor:default;overflow-x:hidden;}
h1{font-size:22px;}h2{font-size:20px;}h3{font-size:18px;}h4{font-size:16px;}h5{font-size:14px;}h6{font-size:12px;}
/* link */
a{text-decoration:none;outline:none;}
/* black */
.blank{height:0; line-height:0; clear:both; overflow:hidden;}
.blank5{height:5px; line-height:5px; clear:both; overflow:hidden;}
.blank10{height:10px; line-height:10px; clear:both; overflow:hidden;}
.blank15{height:15px; line-height:15px; clear:both; overflow:hidden;}
.blank20{height:20px; line-height:20px; clear:both; overflow:hidden;}
.blank25{height:25px; line-height:25px; clear:both; overflow:hidden;}
.blank30{height:30px; line-height:30px; clear:both; overflow:hidden;}
.blank40{height:40px; line-height:40px; clear:both; overflow:hidden;}

.cn{font-family:"微软雅黑","黑体","simhei","宋体","simsun";}
.en{font-family:Arial,Lucida,Verdana,Helvetica,sans-serif;}

/* 头部样式 */
.header{width:100%; text-align:center; height:150px;}
div.bgSelector{width:100%; text-align:left;}
div.bgSelector div#bgColorSelector{width:100%; overflow:hidden;}
div.bgSelector div#bgColorSelector #bscParent{position:relative; width:100%; height:100%; overflow:hidden; z-index:9998;}
div.bgSelector div#bgColorSelector #bscParent #bscDrag img{position:relative; z-index:-1; width:47px; height:35px;}
div.bgSelector div#bgColorSelector #bscParent #bscDrag{position:absolute; left:0; float:left; z-index:9999;}
div.bgSelector div#bgColorSelector #bscParent #bscDrop{width:100%; margin:0; padding:0;}
div.bgSelector div#bgColorSelector #bscParent #bscDrop td{margin:0; padding:0;}
div.bgSelector div#bgColorSelector #bscParent #bscDrop td span{display:block; width:100%;}
.alert_img{position:absolute; top:85px; z-index:9; left:736px;}
div.nav2Panel{width:890px; height:38px; padding:0 30px; z-index:999; margin:-5px auto 0; background-color:#fcfcfc; border:1px #dee0df solid; border-top:0;}