<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.AdminMapper">

    <!--public List<Admin> selectAllAdmin()-->
    <select id="selectAllAdmin" resultType="Admin">
        select * from admin;
    </select>

    <!--public boolean insertAdmin(Admin admin);-->
    <insert id="insertAdmin" parameterType="Admin">
        insert into admin (user_id,name,password,sex,age,phone,email,nickname,admin_authority_id,school_id,create_time,creator_id,remark)
                values (#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter},#{_parameter});
    </insert>

    <!--public boolean deleteAdminById(int adminId);-->
    <delete id="deleteAdmin" parameterType="int">
        delete * FROM admin WHERE admin_id=#{_parameter}
    </delete>

    <!--public boolean updateAdmin(Admin admin) 明天继续-->
    <update id="updateAdmin" parameterType="Admin">
        update admin set name=#{realname},password=#{password},sex=#{sex},age=#{age},phone=#{phone},email=#{email},nikename=#{nikename},admin_authority_id=#{}  where admin_id=${adminId};
    </update>

    <!--public void selectAdminById(int adminId);-->
    <select id="selectAdminById" parameterType="int">
        select * from admin WHERE admin_id=#{adminId}
    </select>

    <!--public void selectAdminByCondition(String aname);-->
    <select id="selectAdminByCondition" parameterType="String">
        select * from admin WHERE name LIKE "%" #{realname} "%"
    </select>
    
</mapper>