<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.AdminMapper">

    <!--public List<Admin> selectAllAdmin(QueryPojo_Admin queryPojo)-->
    <select id="selectAllAdmin" resultType="Admin" parameterType="QueryPojo_Admin">
        select * from admin a,admin_authority au
        <where>
            a.admin_authority_id=au.authority_id
            <if test="name neq null">
                and a.name like "%"#{name}"%"
            </if>
            <if test="nickname neq null">
                and a.nickname like "%"#{nickname}
            </if>
            <if test="phone neq null">
                AND a.phone like "%" #{phone} "%"
            </if>
            <if test="adminAuthorityId neq null">
                AND a.admin_authority_id =  #{adminAuthorityId}
            </if>

        </where>
    </select>

    <!--public boolean insertAdmin(Admin admin);-->
    <insert id="insertAdmin" parameterType="Admin">
        insert into admin (user_id,name,password,sex,age,phone,email,nickname,admin_authority_id,school_id,create_time,creator_id,remark)
                values (#{userId},#{realname},#{password},#{sex},#{age},#{phone},#{email},#{nickname},#{adminAuthorityId},#{schoolId},#{createTime},#{creatorId},#{remark});
    </insert>

    <!--public boolean deleteAdminById(int adminId);-->
    <delete id="deleteAdminById" parameterType="int">
        delete FROM admin WHERE admin_id=#{_parameter}
    </delete>

    <!--public boolean updateAdmin(Admin admin) 明天继续-->
    <update id="updateAdmin" parameterType="Admin">
        update admin set name=#{realname},password=#{password},sex=#{sex},age=#{age},phone=#{phone},email=#{email},nickname=#{nickname},admin_authority_id=#{adminAuthorityId}  where admin_id=${adminId};
    </update>

    <!--public Admin selectAdminByNickname(String nickname)-->
    <select id="selectAdminByNickname" resultType="Admin" parameterType="String">
        select * from admin where nickname=#{nickname};
    </select>
        
    
    <!--public void selectAdminByCondition(String aname);-->
    <select id="selectAdminByCondition" parameterType="string" resultType="Admin">
        select * from admin WHERE name LIKE "%" #{realname} "%"
    </select>

</mapper>