<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.ForumPostCollectionMapper">
    <!--public List<ForumPostCollection> selectForumPostCollectionsbyCondition(int userId);-->
    <select id="selectForumPostCollectionsbyCondition" resultType="ForumPostCollection" parameterType="int">
        SELECT * FROM forum_post f LEFT JOIN forum_post_collection fc ON f.forum_post_id=fc.forum_post_id WHERE fc.user_id=#{_parameter}
    </select>


    <!--public boolean insertForumPostCollection(ForumPostCollection forumPostCollection);-->
    <insert id="insertForumPostCollection" parameterType="ForumPostCollection">
        INSERT INTO forum_post_collection(user_id,forum_post_id,time) VALUES (#{userId},#{forumPostId},#{time})
    </insert>

<!--删除收藏帖子-->
    <!--public boolean removeForumPostCollection(int forumPostCollectionId);-->
    <delete id="removeForumPostCollection" parameterType="int">
        DELETE FROM forum_post_collection WHERE forum_post_collection_id=#{_parameter}
    </delete>
</mapper>