<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.ForumPostMapper">
    <!--public List<ForumPost> selectTopForumPostBySchoolId(int schoolId);-->
    <select id="selectTopForumPostBySchoolId" resultType="ForumPost" parameterType="int">
        SELECT * FROM forum_post f LEFT JOIN user u ON f.user_id=u.user_id WHERE f.is_top="T" AND u.school_id=#{id}
    </select>


    <!--public List<ForumPost> selectForumPostByTime(int schoolId);-->
    <select id="selectForumPostByTime" resultType="ForumPost" parameterType="int">
       SELECT * FROM forum_post f LEFT JOIN user u ON f.user_id=u.user_id WHERE f.is_top="F" AND u.school_id=#{_parameter} ORDER BY realease_time DESC
    </select>


    <!--public List<ForumPost> selectOnesForumPost(int userId);-->
    <select id="selectOnesForumPost" resultType="ForumPost" parameterType="int">
        SELECT * FROM  form_post f WHERE user_id=#{_parameter}
    </select>


    <!--这个地方的图片有异议-->
    <!--public boolean  insertForumPost();-->
    <insert id="insertForumPost" parameterMap="ForumPost">
        insert into forum_post(user_id,title,content,release_time,update_time,remark,click_count,comment_count,is_top,is_advertisement,photo) values(#{user_id},#{title},#{content},
        #{release_time},NULL,NULL,NULL,NULL,NULL,#{is_advertisement},NULL )
    </insert>


    <!--public void  updateForumPostIsTop(int forumPostId);-->
    <update id="updateForumPostIsTop" parameterType="int">
        UPDATE forum_post SET is_top="T" WHERE forum_post_id=#{_parameter}
    </update>


    <update id="updateForumPostIsnotTop" parameterType="int">
        UPDATE forum_post SET is_top="F" WHERE forum_post_id=#{_parameter}
    </update>


    <!--public  boolean deleteForumPost(int postId);-->
    <delete id="deleteForumPost" parameterType="int">
        DELETE FROM forum_post WHERE forum_post_id=#{_parameter}
    </delete>



</mapper>