<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.ForumPostCommentMapper">
    <resultMap id="selectForumCommentMap" type="ForumPostComment">
        <id column="forum_post_comment_id" property="forumPostCommentId"/>
        <result column="content" property="content"/>
        <result column="release_time" property="releaseTime"/>
        <result column="forum_post_id" property="forumPostId"/>
       <association property="user" javaType="User">
           <id column="user_id" property="userId"/>
           <result column="nickname" property="nickname"/>
           <result column="photo" property="photo"/>
       </association>


    </resultMap>
    <!--把帖子的评论添加进数据库-->
    <!--public boolean insertForumPostComment(ForumPostComment forumPostComment);-->
    <insert id="insertForumPostComment" parameterType="ForumPostComment">
        INSERT INTO forum_post_comment(content,user_id,release_time,forum_post_id)VALUES(#{content},#{userId},#{releaseTime},#{forumPostId})
    </insert>

    <!--查询某个帖子的评论-->
    <!--public ForumPostComment selectForumComment(int forumId);-->
    <select id="selectForumComment" resultMap="selectForumCommentMap" parameterType="int">
        SELECT * FROM forum_post_comment c LEFT JOIN user u ON c.user_id = u.user_id WHERE c.forum_post_id=#{_parameter} ORDER BY release_time DESC
    </select>

    <!--删除评论-->
    <!--public boolean deleteForumPostComment(int commentId);-->
    <delete id="deleteForumPostComment" parameterType="int">
        DELETE FROM forum_post_comment WHERE forum_post_comment_id=#{_parameter}
    </delete>
</mapper>