<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.GoodsMapper">
    <!--通过商品ID查询商品-->
    <resultMap id="getGoodsMap" type="Goods">
        <id column="goods_id" property="goodsId"></id>
        <result column="user_id" property="userId"></result>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result column="picture" property="picture"></result>
        <result column="location" property="location"></result>
        <result column="release_time" property="releaseTime"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="phone" property="phone"></result>
        <result column="qq" property="qq"></result>
        <result column="remark" property="remark"></result>
        <result column="click_count" property="clickCount"></result>
        <result column="goods_category_id" property="goodsCategoryId"></result>
        <association property="goodsCategory" javaType="GoodsCategory">
            <id column="goods_category_id" property="goodsCategoryId"></id>
            <result column="goods_category_name" property="goodsCategoryName"></result>
        </association>
        <association property="user" javaType="User">
            <id column="user_id" property="userId"></id>
            <result column="password" property="password"></result>
            <result column="sex" property="sex"></result>
            <result column="age" property="age"></result>
            <result column="qq" property="qq"></result>
            <result column="telphone" property="phone"></result>
            <result column="email" property="email"></result>
            <result column="nickname" property="nickname"></result>
            <result column="signature" property="signature"></result>
            <result column="school_id" property="schoolId"></result>
        </association>
    </resultMap>
    <!--按ID查询商品信息-->
    <select id="selectGoodsById" resultMap="getGoodsMap" parameterType="int">
        select g.*,gc.goods_category_name,u.nickname
        from goods g,goods_category gc,user u,school s
        where g.goods_id=#{_parameter}
        and g.goods_category_id=gc.goods_category_id and g.user_id=u.user_id and u.school_id=s.school_id
    </select>
    <!--根据商品类别ID查询商品-->
    <select id="selectGoodsByCategoryId" parameterType="int" resultMap="getGoodsMap">
        select g.*,gc.goods_category_name,u.nickname
        from goods g,goods_category gc,user u,school s
        where g.goods_category_id=#{_parameter}
        and g.goods_category_id=gc.goods_category_id and g.user_id=u.user_id and u.school_id=s.school_id
        limit 0,12
    </select>
    <!--按条件查询商品信息-->
    <select id="selectGoodsByCondition" resultMap="getGoodsMap" parameterType="QueryPojo">
        select g.*,gc.goods_category_name,u.nickname
        from goods g,goods_category gc,user u,school s
        <where>
            g.goods_category_id=gc.goods_category_id
            and g.user_id=u.user_id and u.school_id = s.school_id
            <if test="goodsCategoryId neq null">
                and g.goods_category_id =#{goodsCategoryId}
            </if>
            <if test="schoolId neq null">
                and s.school_id = #{schoolId}
            </if>
            <if test="releaseTime neq null">
                order by g.release_time DESC
            </if>
            <if test="clickCount neq null">
                order by g.click_count DESC
            </if>
            <if test="price neq null">
                order by g.price ASC
            </if>
        </where>
    </select>

    <!--发布商品-->
    <insert id="insertGoods" parameterType="Goods">
        INSERT into goods (goods_id,name,price,picture,location,release_time,phone,email,qq,remark,click_count,goods_category_id,user_id)
        VALUES (#{goodsId},#{name},#{price},#{picture},#{location},#{releaseTime},#{phone},#{email},#{qq},#{remark},0,#{goodsCategoryId},#{userId})
    </insert>

    <!--商品推荐-->
    <select id="selectRecommend" resultType="Goods">
        SELECT * FROM  goods g where g.goods_category_id=
        (SELECT g.goods_category_id from goods g where g.goods_id=#{goodsId})
    </select>

    <!--修改商品信息-->
    <update id="updateGoodsByCondition" parameterType="Goods">
        UPDATE goods set name=#{name},price=#{price},location=#{location},phone=#{phone},click_count=#{clickCount}
        where goods_id=#{goodsId}
    </update>

    <!--删除商品-->
    <delete id="deleteGoods" parameterType="int">
        delete from goods where goods_id=#{_parameter}
    </delete>
 <!--==============================================================================================================   -->
    <!--/**
     *@Author：wang
     *@Date: Created in 2018-6-19 15:57:24
     *@Modified By:
     *  ！莫删 ！
     */-->
    <!--用户显示商品-->
    <!--public List<Goods> getAllGoodsByUserId(QueryPojo_Goods queryPojo);-->
    <select id="getAllGoodsByUserId" resultType="Goods" parameterType="QueryPojo_Goods">
        select * from goods where user_id=${userId};
    </select>

    <!--管理员查询商品     分页-->
    <!--public List<Goods> getAllGoods(QueryPojo_Goods queryPojo)-->
    <select id="getAllGoods" resultType="Goods" parameterType="QueryPojo_Goods">
        SELECT g.goods_id,g.name,u.nickname,g.release_time,c.goods_category_name FROM goods g,goods_category c,user u

        <where>
            g.goods_category_id=c.goods_category_id
            AND g.user_id=u.user_id
            <if test="goodsCategoryName neq null">
                and c.goods_category_name =#{goodsCategoryName}
            </if>
            <if test="nickname neq null">
                and u.nickname=#{nickname}
            </if>
            <if test="name neq null">
                AND g.name like "%" #{name} "%"
            </if>
        </where>
    </select>

</mapper>