<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.GoodsCommentMapper">

    <!--添加商品评论-->
    <insert id="insertGoodsComment" parameterType="GoodsComment">
        INSERT into goods_comment VALUES (#{content},#{userId},#{releaseTime},#{goodsId})
    </insert>

    <!--删除商品评论-->
    <delete id="deleteGoodsComment" parameterType="int">
        DELETE FROM goods_comment where goods_comment_id=#{_parameter}
    </delete>
</mapper>