<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.HelpBuyMapper">

    <resultMap id="selectHelpBuyMap" type="HelpBuy">
        <id column="help_buy_id" property="helpBuyId"></id>
        <result column="name" property="name"/>
        <result column="receipt_address" property="receiptAddress"/>
        <result column="receipt_address_alternative" property="receiptAddressAlternative"/>
        <result column="buy_address" property="buyAddress"/>
        <result column="buy_address_alternative" property="buyAddressAlternative"/>
        <result column="buy_phone" property="buyPhone"/>
        <result column="buy_demand" property="buyDemand"/>
        <result column="distance" property="distance"/>
        <result column="recommended_price" property="recommendedPrice"/>
        <result column="person_price" property="personPrice"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="end_time" property="endTime"/>
        <result column="is_finished" property="isFinished"/>
        <result column="click_count" property="clickCount"/>
        <result column="title" property="title"/>
        <association property="user" javaType="User">
            <result column="nickname" property="nickname"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>


    <!--可以通过学校ID或用户ID查询-->
    <select id="selectHelpsById"  resultMap="selectHelpBuyMap">
        select hb.* , u.* FROM help_buy hb,user u where hb.user_id = u.user_id
        <if test=" param1 != 0">
            and hb.user_id = ${param1}
        </if>
        <if test=" param2 != 0">
            AND u.school_id = ${param2}
        </if>
    </select>

    <!--单个查询帮我买帖子详情-->
    <select id="selectHelpByHelpId" resultMap="selectHelpBuyMap">
       select hb.*,u.* FROM help_buy hb,user u where hb.user_id = u.user_id and hb.help_buy_id = #{param1}
    </select>
    <!--insert into help_send(name,send_address,receipt_address,send_information,send_time,distance,recommended_price,person_price,create_time,user_id,end_time,is_finished,click_count)-->
    <!--VALUES (#{name},#{send_address},#{receipt_address},#{send_information},#{send_time},-->
    <!--#{distance},#{recommended_price},#{person_price},#{create_time},#{user_id},#{end_time},#{is_finished},#{click_count})-->


    <insert id="insertHelpBuy" parameterType="HelpBuy" useGeneratedKeys="true">
        insert into help_buy(name,receipt_address,receipt_address_alternative,buy_phone,buy_address,buy_address_alternative,buy_demand,distance,recommended_price,person_price,create_time,user_id,end_time,is_finished,click_count,title)
        VALUES (#{name},#{receiptAddress},#{receiptAddressAlternative},#{buyPhone},#{buyAddress},#{buyAddressAlternative},#{buyDemand},#{distance},#{recommendedPrice},#{personPrice},#{createTime},#{userId},#{endTime},#{isFinished},#{clickCount},#{title})
    </insert>

    <delete id="deleteHelpBuy" parameterType="java.lang.Integer" >
        delete FROM help_buy WHERE help_buy_id = #{param1}
    </delete>

    <update id="updateHelpClickCount" parameterType="java.lang.Integer">
        UPDATE help_buy set click_count = click_count+1 where help_buy_id = #{param1}
    </update>

</mapper>
