<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.PersonApplicationMapper">

    <!--个人认证-->
    <insert id="insertPersonAplication" parameterType="PersonApplication">
        INSERT into person_application(name,zjh,submit_time,school_id) VALUES (#{name},#{zjh},#{submitTime},#{schoolId})
    </insert>
    <!--处理个人申请-->
    <delete id="deletePersonApplication" parameterType="int">
        DELETE FROM person_application where person_application_id=#{_parameter}
    </delete>
</mapper>