<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.UserMessageMapper">
    <!--public List<UserMessage> selectUserMessagesByCondition(int userId);-->
    <select id="selectUserMessagesByCondition" parameterType="UserMessage">
        select * from user_message WHERE  user_id=#{_parameter};
    </select>


    <!--public boolean  modifyUserMessagesIsRead(int userMessageId);-->
    <update id="modifyUserMessagesIsRead" parameterType="int">
        UPDATE user_message SET is_read="T" WHERE user_message_id=#{_parameter}
    </update>


    <!--public boolean  deleteUserMessagesIsRead();-->
    <delete id="deleteUserMessagesIsRead" >
        DELETE FROM user_message WHERE is_read="T"
    </delete>
</mapper>