<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.UserMapper">
    <resultMap id="selectUserByIdMap" type="User">
        <id column="user_id" property="userId"></id>
        <result column="password" property="password"></result>
        <result column="sex" property="sex"></result>
        <result column="age" property="age"></result>
        <result column="qq" property="qq"></result>
        <result column="telphone" property="telphone"></result>
        <result column="email" property="email"></result>
        <result column="signature" property="signature"></result>
        <result column="nickname" property="nickname"></result>
        <result column="person_application_id" property="personApplicationId"></result>
        <result column="photo" property="photo" ></result>
        <result column="school_state_id" property="schoolStateId"></result>
        <association property="school" javaType="School">
            <id column="school_id" property="schoolId"></id>
            <result column="name" property="name"></result>
            <result column="school_state_id" property="schoolStateId"></result>
        </association>
    </resultMap>
    <!--public User selectUserByNum(String id);-->
    <select id="selectUserByNum" resultType="User" parameterType="string">
        select * from user WHERE telphone=#{_parameter} OR email=#{_parameter};
    </select>


    <!--public boolean insertUser(int id,String password);-->
    <insert id="insertUser" parameterType="User">
        INSERT INTO user(telphone,password) VALUES (#{phone},#{password})
    </insert>
    



<!--============================================================================================================-->

    <!--public boolean updatePassInUser(String password);-->
    <update id="updatePassInUser" parameterType="String">
        UPDATE user SET password=#{password}
    </update>

    <!--public List<User> selectAllUser()-->
    <select id="selectAllUser" resultType="User">
        select * from user;
    </select>

    <!--public User selectUserById(Integer uid)-->
    <select id="selectUserById" parameterType="int" resultMap="selectUserByIdMap">
        select u.*,s.name from user u,school s WHERE user_id=#{_parameter} and u.school_id=s.school_id;
    </select>

    <!--public User selectUserBySchoolId(int sid)-->
    <select id="selectUserBySchoolId" parameterType="int">
        select * from user WHERE school_id=#{_parameter};
    </select>

    <!--public User updateUser(User user);-->
    <update id="updateUser" parameterType="User">
        update user set sex=#{sex},age=#{age},qq=#{qq},telphone=#{telphone},email=#{email},nickname=#{nickname},signature=#{signature},school_id=#{schoolId},person_application_id=#{personApplicationId},photo=#{photo} where user_id=#{userId};
    </update>

    <!--public User selectUserByName(String uname)-->
    <select id="selectUserByName" parameterType="String" resultType="User">
        select * from user WHERE nickname LIKE "%"#{_parameter} "%";
    </select>

    <!--public boolean deleteUserByCondition(String uname)-->
    <delete id="deleteUserByCondition" parameterType="String">
        DELETE FROM user WHERE nickname=#{_parameter}
    </delete>

    <!--public boolean deleteUserById(int userId);-->
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM  user WHERE user_id=#{_parameter}
    </delete>

    <!--public List<User> selectUserByCondition(String user)-->
    <select id="selectUserByCondition" resultType="User" parameterType="QueryPojo_User">
        select * from user
        <where>
            <if test="userId neq null">
                and user_id = #{userId}
            </if>
            <if test="shoolId neq null">
                and shool_id = #{shoolId}
            </if>
            <if test="nickname neq null">
                and nickname = #{nickname}
            </if>
            <if test="sex neq null">
                and sex = #{sex}
            </if>
        </where>
    </select>

</mapper>