<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.hami.dao.UserMapper">
    <!--public User selectUserByName(int id);-->
    <select id="selectUserByName" resultType="User" parameterType="int">
        select * from user WHERE telphone=#{_parameter}and email=#{_parameter};
    </select>


    <!--public boolean insertUser(int id,String password);-->
    <insert id="insertUser" parameterType="User">
        INSERT INTO user(telphone,password) VALUES (#{phone},#{password})
    </insert>
    






    <!--public List<User> selectAllUser()-->
    <select id="selectAllUser" resultMap="User">
        select * from user;
    </select>
    
    <!--public void selectUserById(String uid)-->
    <select id="selectUserById" parameterType="String">
        select * from user WHERE user_id=#{_parameter};
    </select>

    <!--public User selectUserBySchoolId(int sid)-->
    <select id="selectUserBySchoolId" parameterType="int">
        select * from user WHERE school_id=#{_parameter};
    </select>

    <!--public boolean updateUserById(int id);-->
    <update id="updateUserById" parameterType="int">
        update user set password=#{password},sex=#{sex},age=#{age},qq=#{qq},telphone=#{telphone},email=#{email},nickname=#{nickname},signature=#{signature},school_id=#{schoolId},person_application_id=#{personApplicationId},photo=#{photo},state=#{state}where user_id=#{userId};
    </update>

    <!--public User selectUserByName(String uname)-->
    <select id="selectUserByName" parameterType="String">
        select * from user WHERE nickname=#{_parameter};
    </select>

    <!--public boolean deleteUserByCondition(String uname)-->
    <delete id="deleteUserByCondition" parameterType="String">
        DELETE * FROM user WHERE nickname=#{_parameter}
    </delete>

    <!--public boolean deleteUserById(int userId);-->
    <delete id="deleteUserById" parameterType="int">
        DELETE * FROM  user WHERE user_id=#{_parameter}
    </delete>


</mapper>